USE [master]
GO
/****** Object:  Database [dbHMS]    Script Date: 1/12/2019 12:51:40 PM ******/
CREATE DATABASE [dbHMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbHMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\dbHMS.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'dbHMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\dbHMS_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbHMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbHMS]
GO
/****** Object:  Table [dbo].[tbl_Admin]    Script Date: 1/12/2019 12:51:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Admin](
	[admin_Id] [int] IDENTITY(1,1) NOT NULL,
	[admin_Username] [nvarchar](50) NOT NULL,
	[admin_Password] [nvarchar](32) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[admin_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[admin_Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Department]    Script Date: 1/12/2019 12:51:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Department](
	[department_Id] [int] IDENTITY(1,1) NOT NULL,
	[department_Name] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[department_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[department_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Employee]    Script Date: 1/12/2019 12:51:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Employee](
	[employee_Id] [int] IDENTITY(1,1) NOT NULL,
	[employee_FirstName] [nvarchar](25) NOT NULL,
	[employee_LastName] [nvarchar](25) NOT NULL,
	[employee_Address] [nvarchar](max) NOT NULL,
	[employee_City] [nvarchar](20) NOT NULL,
	[employee_State] [nvarchar](20) NOT NULL,
	[employee_ZipCode] [nvarchar](20) NOT NULL,
	[employee_Country] [nvarchar](20) NOT NULL,
	[employee_Contact] [nvarchar](20) NOT NULL,
	[employee_Email] [nvarchar](100) NOT NULL,
	[employee_CNIC] [nvarchar](20) NOT NULL,
	[employee_Gender] [nvarchar](6) NOT NULL,
	[employee_DateOfBirth] [date] NOT NULL,
	[employee_Qualification] [nvarchar](20) NOT NULL,
	[employee_Username] [nvarchar](50) NOT NULL,
	[employee_Password] [nvarchar](32) NOT NULL,
	[employee_DateOfHire] [datetime] NOT NULL,
	[employee_fk_admin_Id] [int] NOT NULL,
	[employee_fk_department_Id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[employee_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[employee_Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[employee_Contact] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[employee_CNIC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[employee_Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Patient]    Script Date: 1/12/2019 12:51:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Patient](
	[patient_Id] [int] IDENTITY(1,1) NOT NULL,
	[patient_FirstName] [nvarchar](25) NOT NULL,
	[patient_LastName] [nvarchar](25) NOT NULL,
	[patient_Address] [nvarchar](max) NOT NULL,
	[patient_City] [nvarchar](20) NOT NULL,
	[patient_State] [nvarchar](20) NOT NULL,
	[patient_ZipCode] [nvarchar](20) NOT NULL,
	[patient_Country] [nvarchar](20) NOT NULL,
	[patient_Contact] [nvarchar](20) NOT NULL,
	[patient_Email] [nvarchar](100) NOT NULL,
	[patient_CNIC] [nvarchar](20) NOT NULL,
	[patient_Gender] [nvarchar](6) NOT NULL,
	[patient_DateOfBirth] [date] NOT NULL,
	[patient_Type] [nvarchar](20) NOT NULL,
	[patient_DateOfAdmit] [datetime] NOT NULL,
	[patient_fk_employee_Id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[patient_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[patient_CNIC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[patient_Contact] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[patient_Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[tbl_Employee]  WITH CHECK ADD FOREIGN KEY([employee_fk_admin_Id])
REFERENCES [dbo].[tbl_Admin] ([admin_Id])
GO
ALTER TABLE [dbo].[tbl_Employee]  WITH CHECK ADD FOREIGN KEY([employee_fk_department_Id])
REFERENCES [dbo].[tbl_Department] ([department_Id])
GO
ALTER TABLE [dbo].[tbl_Patient]  WITH CHECK ADD FOREIGN KEY([patient_fk_employee_Id])
REFERENCES [dbo].[tbl_Employee] ([employee_Id])
GO
USE [master]
GO
